header {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-top: -10px;
    letter-spacing: 0px;
    background: #111f35;
   
    margin-left:0cap;
    z-index: 1;
}
header::after {
    content: '';
    display: inline-block;
    width: 100%;
}
.headerAv{
    display: flex;
    flex-direction: column;
    text-align: justify;

  width: 150%;
    position: fixed;
    margin-left: -200px;
}
.top-nav {
    font-family: 'Century Gothic';
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    height: 20px;
    padding: 1.3em;
    margin: 7px;
}

.top-nav .logo a {
   
 
    font-size: 16px;
    margin-left:0px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 80px;
   
    font-weight: 600;
    transition: color 0.2s ease-in-out;
   
}

.top-nav .menu {
    display: flex;
    display: inline-block;
    list-style-type: none;
    margin-bottom: 90px;
    margin-right: 0px;
    margin-left: 50px;
    padding-left: 20px;
}

.top-nav .menu a:hover {
    color: #a9a9a9;
}

.top-nav .menu > li {
    margin: 0 50px 30px;
    overflow: hidden;
}
.top-nav .menu > .liav {
    margin: 0px 50px 78px;
    overflow: hidden;
}
.top-nav .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    display: inline-block;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
}
#menuav{
    margin-top: 70px;
}

li {
    display: inline-block;
}

* {
    font-family: 'Century Gothic';
}

    @media only screen and (max-width: 790px) {
        .top-nav .menu {
            display: hidden;
            transition: opacity 0.3s;
        }
    
        .top-nav .menu-button-container {
            display: flex;
            margin-top: -20%;
            margin-left: 20%;    
        }
        .top-nav #menu-button-container {
            display: flex;
            margin-top: -18%;
            margin-left: 18%;    
        }
        header{
            height: 240px;
        }
        .menu-button {
            display: block;
            margin-left: -250px;
            margin-top: 180px;
           font-size: 25px;
            border-style: none;
            background-color:#111f35;
            color: #FFF;
        }
        #menu-button {
            display: block;
            margin-left: -320px;
            margin-top: 200px;
           font-size: 25px;
            border-style: none;
            background-color:#111f35;
            color: #FFF;
        }
    
        body {
            background-size: 200%;
       
        }
        .bodyav {
            background-size:1300%;
            width: 430px;
        }
    .top-nav .menu-button-container:hover + .menu,.top-nav .menu:hover {
    
            display:inline-block ;   
            position: absolute; 
            opacity: 1;  
        } 
        .top-nav {
        margin: 0px;
    }
    .top-nav .logo svg {
            block-size: 170px;
            margin-left: 20px;
            margin-top: 5%;
        }
    .top-nav #logoav svg {
            block-size: 200px;
            margin-left: 0px;
            margin-top: 5%;
        }
        li {
            display:inline;
            text-align:center ; 
          }
          .top-nav .menu{
            display:inline-block;
            margin-top: 10px;
            margin-left: 40px;
           
            text-align: center;
          }
       
          .top-nav #menuav{
            display:inline-block;
            margin-top: -30px;
           font-size: larger;
            margin-left:50px;
            text-align: center;
          }
          .top-nav .menu a{
          
              display:block;
              width: 70px;
              font-size :15px ;
              margin-top:-10px ;
              margin-left :150px ;
              text-align:center;
          }
          .p1{
            display: block;
            font-size:15px;
            padding: 10ch;
            padding-left: 10px;
            padding-top: 6%;
            }
            .p1av{
                display: block;
                font-size: larger;
               
               margin-left: 274px;
                padding-top: 10%;
                }
            footer{
                margin-top: -170px;
                }
                footer div{
                    display: inline-block;
                    margin-left: -16px;
                    margin-top: -1px; 
                    }  
                    .fot{
                        height: 100px;
                        width: 100%;
                        margin-right: -30px;
                    }
                   .p1{
                    margin-top: 345px;
                   }
                   
                    
        }

        @media only screen and (max-width: 460px) {
            body {
                background-size: 300%;
           
            }
            .fot{
                height: 200px;
                width: 100%;
                margin-right: -30px;
            }
            .fot a{
                margin-left: 0px;
            }
            footer div{
                display: inline-block;
                margin-left: -16px;
                margin-top: 10px; 
                } 
                .p1{
                    display: block;
                    font-size:15px;
                    padding: 10ch;
                    padding-left: 10px;
                    padding-top: 13%;
                    } 
                    .footerav a{
                        margin-top: 70px;
                    
                        margin-bottom: -20px;
                        height: 100px;
                        text-align: center;
                            } 

        }
        .iconteg svg{
            display: flex;
          block-size:140px; ;
        } 
       footer {  
    position:relative ;
    background: #111f35;
    margin-top: 200px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 0px;
    height: 170px;
    text-align: center;
    }
    .fot {
        position: fixed;
        height: 150px;
        margin-top: 100px;
    margin-left: -10px;
    margin-right: -10px;
        bottom: 0;
        width: 110%;
        background: #111f35;/* Цвет фона футера */
        color: white; /* Цвет текста */
        padding: 20px; /* Внутренний отступ */
        box-sizing: border-box; /* Учитываем padding внутри ширины элемента */
    }
    footer a{
        text-decoration: none;
        margin-left: -80px;
        
    }
   
    .footerav{
margin-top: 70px;
margin-left: -10px;
margin-right: -51px;
margin-bottom: -20px;
height: 100px;
text-align: center;
    } 
    .footerav a{
       margin-left: 40px;
    }
    .social-icons {
    list-style: none;
    }
    .social-icons li {
    display: inline-block;
    text-align: center;

    }
    .social-icons img {
    width: 40px;
    height: 40px;
    } 
    .p1{
    display: inline-block;
    margin-top: -1cap;
    margin-bottom: 15px;
    margin-left: 35px;
    }
    @media (min-width:480px) and (max-width: 790px) { 
        .p1av{
            padding-top: 6% ;
        }
     }
  